<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attendance_and_Payroll_Management_System.Properties.Settings.StudentDBConnectionString"
            connectionString="Data Source=LAPTOP-BI060IG8\SQLEXPRESS;Initial Catalog=StudentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Attendance_and_Payroll_Management_System.Properties.Settings.BAPMSConnectionString"
            connectionString="Data Source=LAPTOP-BI060IG8\SQLEXPRESS;Initial Catalog=BAPMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>